<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\NewshamA\Development\Publish\BioSys.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>http://http://bhts-bibweb2/BioSys</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConn_BioSys" Order="2" Enabled="False">
          <Destination Path="Data Source=10.221.11.215,1433;Initial Catalog=BioSys;Persist Security Info=True;User ID=biosys_user;Password=b1u3Sh1ft*$68" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.137.131.191,1433;Initial Catalog=DevBioSys;User ID=biosys_user;Password=b1u3Sh1ft*$68" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbConn_BioSys_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.137.131.191,1433;Database=DevBioSys;User Id=biosys_user;Password=b1u3Sh1ft*$68;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=10.221.11.215,1433;Initial Catalog=BIBSecure;User ID=GrowingUpSecure;Password=gr0w1ngUp*!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BioSys.Models.ApplicationDbContext, BioSys" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbConn_BioSys-Web.config Connection String">
      <ParameterValue>Data Source=10.221.11.215,1433;Initial Catalog=BioSys;Persist Security Info=True;User ID=biosys_user;Password=b1u3Sh1ft*$68</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.221.11.215,1433;Initial Catalog=BIBSecure;User ID=GrowingUpSecure;Password=gr0w1ngUp*!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>