@{
    ViewBag.Title = "Contact Details";
}
<h2 style="color: #0070BC;">@ViewBag.Title.</h2>
<h3 style="color: #0070BC;">@ViewBag.Message</h3>

<address>
    Born in Bradford (Data Team),<br />
    Bradford Royal Infirmary,<br />
    BD9 6RJ. <br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    @*<strong>Biosys Web Tool (Lead Developer):</strong>   <a href="mailto:Alex.Newsham@bthft.nhs.uk">Alex.Newsham@bthft.nhs.uk</a><br />
    <br />
    <strong>Biobanking (Laboratory Manager):</strong> <a href="mailto:Rafaq.Azad@bthft.nhs.uk">Rafaq.Azad@bthft.nhs.uk</a>*@
</address>

@*<h4>Example panel:</h4>*@

<div class="panel panel-primary">
    <div class="panel-heading">Email Contacts</div>
    <div class="panel-body">
        <strong>Biosys Web Tool (Lead Developer):</strong>   <a href="mailto:Alex.Newsham@bthft.nhs.uk">Alex.Newsham@bthft.nhs.uk</a><br />
        <br />
        <strong>Biobanking (Laboratory Manager):</strong> <a href="mailto:Rafaq.Azad@bthft.nhs.uk">Rafaq.Azad@bthft.nhs.uk</a>
    </div>
</div>